body {
	margin: 0px;
}
.td1_bg {
	background-image: url(../image/login_bg.jpg);
}
.td2_bg {
	background-color: #01456A;
}
.td3 {
	font-size: 9pt;
	color: #CCCCCC;
	text-align: right;
	height: 35px;
}
.td4 {
	padding-left: 7px;
}
.out {
	font-size: 9pt;
	color: #333333;
	background-image: url(../image/login_anniu_out.jpg);
	height: 20px;
	width: 82px;
	border: none;
	cursor:pointer;
}
.over {
	font-size: 9pt;
	color: #333333;
	background-image: url(../image/login_anniu_over.jpg);
	height: 20px;
	width: 82px;
	border: none;
	cursor:pointer;
}
.input {
	padding-top: 2px;
	font-size: 9pt;
	color: #999999;
	background-color: #013E5F;
	height: 20px;
	width: 140px;
	border: 1px solid #555555;
	font-weight: bold;
}


.login_input { width:350px; height:48px; background:#FFF; border: none; padding-left:10px; font-size:14px; }
.login_span { width:80px; height:50px; background:#a5c0e4; line-height:50px; text-align:center; font-size:14px; font-family:"Î¢ÈíÑÅºÚ"; font-weight:bold; float:left; display:block; color:#00034e; }

.login_btn_a { width:200px; height:50px; border:none; background:#a5c0e4; color:#38414e; float:left; font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; cursor:pointer; }
.login_btn_b { width:200px; height:50px; border:none; background:#009812; color:#fff; float:right; font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; cursor:pointer; }