.balckBgColor{
    background-color: rgb(51, 51, 51);
}

#exhibitor114{ margin:0 auto;width:auto;height:100%}
#exhibitorleft{ float:left; width:44%; height:100%;text-align: center}
#exhibitorright{ float:left; width:56%;height:100%;text-align: center}

.center{
    margin-right: auto;
    margin-left:  auto;
}

#main
{
    margin-left:0;
    width:100%;
    height:322px;
    padding:0 5px 5px 0;
    border:1px #b7f0ff solid;
}
.buttons
{
    float:left;
    width:100px;
    height:100px;
    margin:5px 0 0 5px;
    background:white;
    border:1px black solid;
    display: inline;
}


